[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
alembic = "*"
openai = "*"
requests = "*"
pyjwt = "*"
asyncpg = "*"

[dev-packages]
pylint = "*"
debugpy = "*"
black = "==25.1.0"
isort = "==6.0.0"
pylsp-mypy = "*"

[requires]
python_version = "3.12"
