[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = {version = "*", extras = ["asyncio"]}
alembic = "*"
openai = "*"
requests = "*"
pyjwt = "*"
asyncpg = "*"
psycopg2-binary = "*"
apscheduler = "*"
langgraph = "*"
langsmith = "*"
langchain = {extras = ["openai", "google-genai", "anthropic"], version = "*"}
langgraph-checkpoint-postgres = "*"

[dev-packages]
pylint = "*"
debugpy = "*"
black = "==25.1.0"
isort = "==6.0.0"
pylsp-mypy = "*"
ipython = "*"
pylsp-rope = "*"
rope = "*"
python-lsp-server = {extras = ["all"], version = "*"}

[requires]
python_version = "3.12"
