[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = {version = "*", extras = ["asyncio"]}
alembic = "*"
openai = "*"
requests = "*"
pyjwt = "*"
asyncpg = "*"
psycopg2-binary = "*"
apscheduler = "*"
langgraph = "*"
langchain = {extras = ["openai", "google-genai", "anthropic"], version = "*"}
langgraph-checkpoint-postgres = "*"
python-telegram-bot = "*"
neo4j = "*"
google-api-python-client = "*"
beautifulsoup4 = "*"
graphiti-core = "*"
asyncpraw = "*"

[dev-packages]
pylint = "*"
debugpy = "*"
black = "==25.1.0"
ipython = "*"
pytest = "*"
isort = "*"

[requires]
python_version = "3.13"
